.nav-container {
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-container-left {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-container-right {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}