.signup-form-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: flex-start;
}

.signup-input {
  border: 1px solid rgb(177, 191, 196);
  border-radius: 4px;
  padding: 10px;
  height: 24px;
  width: 100%;
  margin: 15px 0;
  box-sizing: content-box;
}

.signup-component {
  display: flex;
  flex-direction: column;
}
.signup-component > label {
  box-sizing: content-box;
}
.signup-header {
  margin-bottom: 12px;
  font-size: 30px;
  text-align: center;
  color: rgb(0, 3, 177);
}

.names {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
}
.names > label {
  /* padding: 10px; */
  /* box-sizing: content-box; */
  width: 40%;
}
.names > label > .signup-input {
  width: 100%;
  /* box-sizing: content-box; */
  height: 19px;
}

:placeholder {
  color: rgb(180, 194, 198);
  font-weight: 100;
}

.signup-submit {
  border: 1px solid rgb(0, 3, 177);
  margin-top: 25px;
  background-color: rgb(0, 3, 177);
  padding: 10px 10px 10px 15px;
  width: 96%;
  /* box-sizing: border-box; */
  border-radius: 4px;
  height: 24px;
  color: #fff;
  text-align: center;
}

.signup-button-container {
  width: 103.5%;
}

.signup-submit:hover {
  background-color: rgb(0, 1, 37);
}

.error-container {
  font-size: 13px;
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-error {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0 10px;
  white-space: nowrap;
  border-radius: 4px;
  line-height: 30px;
  box-sizing: content-box;
}
.signup-input:focus {
  border: 1px solid rgb(177, 191, 196);
  border-radius: 4px;
}

.signup-component label {
  position: relative;
}

.errored {
  border: 1px solid red;
}

.errored:focus + div {
  display: none;
}

.arrow {
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  border-right: 8px solid transparent;
  /* border-top: 4px solid transparent; */
  /* border-bottom: 4px solid transparent; */

  /* border-top: 4px solid red; */
  box-sizing: border-box;
  height: 0px;
  width: 0px;
  top: 26px;
  position: absolute;
  align-self: center;
  transform: rotate(-135deg);
}